.nav-link {
    font-size: 1.0rem;
}

p {
    text-indent: 3vh;
}


/* F-LINE  */


/* .f-line {
    background-color: #be5164;
    background-image: url(../img/grad2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    color: whitesmoke;
} */

.f-line__img {
    width: 100px;
    height: auto;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); */
    /* box-shadow: 0px 0px 5px #ff00ff; */
}

.f-line__img-size {
    width: 100px;
    height: 115px;
}


/* .f-line__title {
    font-family: 'Montserrat', sans-serif;
} */

.f-line__person {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 300;
}


/* .t-sh {
    text-shadow: black 1px 1px 3px;
    text-shadow: #000000 1px 1px 3px;
} */


/* .f-line__adv {
    background-color: #da8eb4;
    background-image: url("../img/w2.jpg");
    background-position: center;
    background-size: cover;
} */


/* CARD */

.card-title {
    /* добавляем к бутстрапу */
    /* font-family: 'Montserrat', sans-serif; */
    /* line-height: 1.2; */
    font-weight: 900;
    color: rgba(0, 0, 0, 1);
}

.card-text {
    /* добавляем к бутстрапу */
    /* line-height: 1.4; */
    font-weight: 400;
    /* color: rgba(0, 0, 0, 0.9); */
    color: #739590;
}

.card-text_bold {
    font-weight: 700;
    /* color: darkslategrey; */
    color: #436c34;
}

.card__bord {
    border: 3px dashed #739590;
    border-spacing: 5px;
    padding: 3px;
}

.card-btn__anons {
    font-weight: bold;
    font-size: 0.8rem;
}

.card-title_decor {
    /* text-shadow: rgba(3, 3, 3, 0.5) 2px 2px 2px; */
    /* text-shadow: 1px 0px #ffffff, 0px 1px #ffffff, -1px 0px #ffffff, 0px -1px #ffffff, 0px 0px 5px teal; */
    /* color: #436c34; */
}


/* GALLERY */

@media (min-width: 992px) {
    .gallery__img-row {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        /* количество колонок */
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        /* расстояние между колонками */
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .gallery__img-row {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        /* количество колонок */
        -webkit-column-gap: 1rem;
        -moz-column-gap: 1rem;
        column-gap: 1rem;
        /* расстояние между колонками */
    }
}

.gallery__img {
    /* необходимо установить, иначе column-count работать не будет */
    display: inline-block;
    /* width: 100%;
    height: auto; */
    /* margin-bottom: 1rem; */
    /* border: 2px solid red; */
}