.nav-link {
  font-size: 1.1rem;
}

/* F-LINE  */

.f-line {
  /* background-color: #be5164; */
  background-image: url(../img/grad2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* opacity: 0.9; */
  color: whitesmoke;
}

.f-line__img {
  width: 100px;
  height: auto;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6); */
  /* box-shadow: 0px 0px 5px #ff00ff; */
}

.f-line__img-size {
  width: 100px;
  height: 115px;
}

.f-line__title {
  /* font-family: 'Montserrat', sans-serif; */
}

.f-line__person {
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 300;
}

.f-line__h2 {
}

.t-sh {
  /* text-shadow: black 1px 1px 3px; */
  text-shadow: #000000 1px 1px 3px;
}

.f-line__adv {
  /* background-color: #da8eb4; */
  background-image: url("../img/w2.jpg");
  background-position: center;
  background-size: cover;
}

/* CARD */

.card-title {
  /* добавляем к бутстрапу */
  /* font-family: 'Montserrat', sans-serif; */
  /* line-height: 1.2; */
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.card-text {
  /* добавляем к бутстрапу */
  /* line-height: 1.4; */
  font-weight: 500;
  color: darkslategrey;
}

.card__bord {
  border: 3px dashed #739590;
  border-spacing: 5px;
  padding: 3px;
}
