@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap&subset=cyrillic');
@import url('../css/my_media.css');
@import url('../css/my_main.css');
body {
    font-family: 'Merriweather', serif;
    /* font-family: 'Raleway', serif; */
    font-size: 14px;
}

#intro {
    /* horizontal vertical  */
    background: url("../img/camp2.jpg") no-repeat 50% 20% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.navbar-brand img {
    width: 40px;
    height: auto;
}


/* Код рекомендация МДБ */

.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}